.page-section {
  margin-top: 45px;
  margin-bottom: 45px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 90px;
  }

  &__header {
    margin-bottom: 30px;
    text-align: center;
    &_left {
      text-align: left;
    }
    &-title {
      font-size: 19px;
      font-weight: $semi;
      &_uppercase {
        text-transform: uppercase;
      }
      &_bold {
        font-weight: $bold;
      }
      @include media-breakpoint-up(lg) {
        font-size: 27px;
      }
    }
  }

  &__content {
    &-footer {
      margin-top: 30px;
      text-align: center;
      @include media-breakpoint-up(md) {
        margin-top: 45px;
      }
    }
  }

  &__text {
    font-size: 11px;
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
    p {
      margin-bottom: 15px;
    }
  }
}
