.page-header {
  display: flex;
  align-items: center;
  padding: 15px;
  @include media-breakpoint-up(md) {
    padding: 30px;
  }

  &_static {
    display: none;
    @include media-breakpoint-up($global-layout-change) {
      display: flex;
    }
  }

  &__logo {
    @include media-breakpoint-up(md) {
      width: 25%;
    }
  }

  &__nav {
    &-list {
      @include resetList();
      &-item {
        display: inline-block;
        vertical-align: middle;
        &:not(:last-child) {
          margin-right: 15px;
        }
        @include media-breakpoint-up(md) {
          &:not(:last-child) {
            margin-right: 45px;
          }
        }
      }
      &-link {
        @include linkEffect(13px);
      }
    }
  }
}
