@mixin linkEffect($font-size) {
  @include pos-r();
  @include transition();
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 2px;
  font-size: $font-size;
  color: $black;
  &:before {
    @include pos-a(null, null, 0, 50%);
    @include size(40px, 2px);
    @include transition();
    content: '';
    transform: scaleX(0);
    background-color: $brand-color;
    opacity: 0;
    visibility: hidden;
    margin-left: -20px;
  }
  &:hover {
    text-decoration: none;
    color: $black;
    &:before {
      opacity: 1;
      visibility: visible;
      transform: scaleX(1);
    }
  }
  &:active {
    color: $brand-color;
  }
}

@mixin slickArrow() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include size(35px);
  @include transition();
  border: none;
  font-size: 15px;
  background-color: $white;
  border-radius: 100%;
  padding: 0;
  outline: none;
  &:hover {
    color: $brand-color;
  }
  @include media-breakpoint-up(md) {
    @include size(45px);
    font-size: 16px;
  }
  &.slick-disabled {
    cursor: default;
    color: $gray-dark;
  }
}

@mixin defaultLink() {
  @include transition();
  color: $black;
  &:hover {
    color: $brand-color;
  }
}

@mixin circleLink() {
  @include size(32px);
  @include transition();
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-decoration: none;
  color: $black;
  font-size: 18px;

  @include media-breakpoint-up(md) {
    @include size(45px);
  }

  &:hover,
  &:active {
    text-decoration: none;
    color: $brand-color;
  }
}

@mixin resetList($mb: 0) {
  margin-bottom: $mb;
  padding-left: 0;
  list-style: none;
}