@mixin linkEffect($font-size) {
  @include pos-r();
  @include transition();
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 2px;
  font-size: $font-size;
  color: $black;
  &:before {
    @include pos-a(null, null, 0, 50%);
    @include size(40px, 2px);
    @include transition();
    content: '';
    transform: scaleX(0);
    background-color: $brand-color;
    opacity: 0;
    visibility: hidden;
    margin-left: -20px;
  }
  &:active {
    color: $brand-color;
  }
}

@mixin slickArrow() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include size(35px);
  @include transition();
  border: none;
  font-size: 10px;
  background-color: $white;
  border-radius: 100%;
  padding: 0;
  outline: none;
  &:hover {
    color: $brand-color;
  }
  @include media-breakpoint-up(md) {
    @include size(45px);
    font-size: 12px;
  }
  &.slick-disabled {
    cursor: default;
    color: $gray-dark;
  }
}

@mixin defaultLink() {
  @include transition();
  color: $black;
  &:hover {
    color: $brand-color;
  }
}

@mixin circleLink() {
  @include size(32px);
  @include transition();
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-decoration: none;
  color: $black;
  font-size: 18px;

  @include media-breakpoint-up(md) {
    @include size(45px);
  }

  &:hover,
  &:active {
    text-decoration: none;
    color: $brand-color;
  }
}

@mixin resetList($mb: 0) {
  margin-bottom: $mb;
  padding-left: 0;
  list-style: none;
}

@mixin columnPadding() {
  @include pad-x(15px);
}

@mixin createColumn($width) {
  flex: 0 0 $width;
  max-width: $width;
}

@mixin changeFontSizeOnChangeLayout($default, $layoutChange) {
  font-size: $default;
  @include media-breakpoint-up($global-layout-change) {
    font-size: $layoutChange;
  }
}

@mixin productFavorite() {
  display: flex;
  align-items: center;
  cursor: pointer;
  &-icon {
    margin-right: 10px;
    @include transition();
  }
  &:hover &-icon {
    color: $brand-color;
  }
  &-text {
    @include changeFontSizeOnChangeLayout(10px, 15px);
    font-weight: $bold;
  }
}

@mixin countItem() {
  display: flex;
  align-items: center;

  &-count {
    @include size(22px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $black;
    border-radius: 100%;
    margin-right: 5px;
    font-weight: $semi;
    font-size: 12px;
    @include media-breakpoint-up($global-layout-change) {
      @include size(30px);
      font-size: 15px;
      margin-right: 7px;
    }
  }

  &-text {
    @include changeFontSizeOnChangeLayout(10px, 12px);
    text-transform: uppercase;
  }
}