.product-slider {
  .product-item {
    &__inner {
      @include pad-x(15px);
    }
  }
  .slick {
    &-arrow {
      @include pos-a(100px);
      @include slickArrow();
      z-index: 1;
    }
    &-prev {
      left: -3px;
      @include media-breakpoint-up($global-layout-change) {
        left: -10px;
      }
    }
    &-next {
      right: -3px;
      @include media-breakpoint-up($global-layout-change) {
        right: -10px;
      }
    }
  }
}