.product-grid {
  .product-item {
    &__image-outer {
      margin-bottom: 15px;
    }
    &__info-item_square {
      margin-right: 45px;
    }
    &__tags {
      &-item {
        &:not(:last-child) {
          margin-right: 10px;
          @include media-breakpoint-up($global-layout-change) {
            margin-right: 15px;
          }
        }
      }
    }
  }
  &:not(.product-slider) {
    display: flex;
    flex-wrap: wrap;
    @include margin-x(-15px);
    .product-item {
      @include createColumn(33.3333%);
      @include pad-x(15px);
      margin-bottom: 45px;
    }
  }
}