.product-item {
  outline: none;
  &__inner {
    @include pos-r();
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__favorite {
    @include productFavorite();
  }
  &__tag {
    @include defaultLink();
    @include changeFontSizeOnChangeLayout(10px, 12px);
    text-transform: uppercase;
  }
  &__image {
    display: block;
    @include size(100%, 145px);
    @include media-breakpoint-up($global-layout-change) {
      height: 190px;
    }
  }
  &__data {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__category {
    @include changeFontSizeOnChangeLayout(15px, 12px);
    margin-bottom: 2px;
  }
  &__type {
    @include changeFontSizeOnChangeLayout(10px, 12px);
    font-weight: $semi;
    margin-bottom: 0;
  }
  &__coordinates {
    margin-bottom: 15px;
    &-street {
      @include changeFontSizeOnChangeLayout(12px, 15px);
      font-weight: $semi;
      margin-bottom: 0;
    }
    &-area {
      @include changeFontSizeOnChangeLayout(11px, 14px);
      margin-bottom: 0;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    &-item {
      @include changeFontSizeOnChangeLayout(22px, 27px);
      font-weight: $bold;
      sub {
        @include changeFontSizeOnChangeLayout(10px, 12px);
        bottom: auto;
      }
    }
  }
  &__tags {
    @include resetList();
    display: flex;
    flex-direction: row;
    &-item {
      @include countItem();
    }
  }
}