<ul class="page-breadcrumbs @@if (componentClass) {@@componentClass}">
    <li class="page-breadcrumbs__item">
        <a href="#" class="page-breadcrumbs__link">Жилая недвижимость</a>
    </li>
    <li class="page-breadcrumbs__item">
        <a href="#" class="page-breadcrumbs__link">Продажа</a>
    </li>
    <li class="page-breadcrumbs__item">
        <a href="#" class="page-breadcrumbs__link">Квартиры</a>
    </li>
    <li class="page-breadcrumbs__item">
        <span class="page-breadcrumbs__item">2-комн. квартира в ЖК «Садовые Кварталы»</span>
    </li>
</ul>