<nav class="page-nav js-page-nav">
    <div class="page-nav__panel page-nav__panel_desktop">
        <div class="page-nav__item">
            @@include('hamburger.html')
            <a href="" class="page-nav__link">
                <span class="icon-phone"></span>
            </a>
        </div>
        <div class="page-nav__item">
            <a href="" class="page-nav__link">
                <span class="icon-house"></span>
            </a>
            <a href="" class="page-nav__link">
                <span class="icon-bed"></span>
            </a>
            <a href="" class="page-nav__link">
                <span class="icon-heart"></span>
            </a>
        </div>
        <div class="page-nav__item">
            <a href="" class="page-nav__link">
                <span class="icon-facebook"></span>
            </a>
            <a href="" class="page-nav__link">
                <span class="icon-instagram"></span>
            </a>
        </div>
    </div>
    <div class="page-nav__panel page-nav__panel_mobile">
        <div class="page-nav__item">
            @@include('hamburger.html')
        </div>
    </div>
    <div class="page-nav__body">
        <div class="page-nav__content page-nav__content_desktop">
            @@include('page-header.html', {
                "componentClass": "page-nav__header"
            })
            @@include('components/links-buy.html', {
                "componentClass": "page-nav__links"
            })
            <div class="page-nav__body-content">
                <div class="row">
                    <div class="col-6 page-nav__body-content-column">
                        <div class="page-nav__body-content-header">
                            <p class="page-nav__body-content-header-title">Жилая <br>недвижимость</p>
                        </div>
                        <div class="page-nav__body-content-list">
                            <div class="page-nav__body-content-list-wrapper">
                                <p class="page-nav__body-content-list-title">В городе</p>
                                <div class="row page-nav__body-content-list-row">
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                </div>
                            </div>
                            <div class="page-nav__body-content-list-wrapper">
                                <p class="page-nav__body-content-list-title">За городом</p>
                                <div class="row page-nav__body-content-list-row">
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 page-nav__body-content-column">
                        <div class="page-nav__body-content-header">
                            <p class="page-nav__body-content-header-title">КОММЕРЧЕСКАЯ<br>НЕДВИЖИМОСТЬ</p>
                        </div>
                        <div class="page-nav__body-content-list">
                            <div class="page-nav__body-content-list-wrapper">
                                <p class="page-nav__body-content-list-title"></p>
                                <div class="row page-nav__body-content-list-row">
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                    <div class="col-3 page-nav__body-content-list-item">
                                        <img src="img/menu-flat.jpg" alt="Квартиры" class="page-nav__body-content-list-item-image">
                                        <p class="page-nav__body-content-list-item-title">Квартиры</p>
                                        <p class="page-nav__body-content-list-item-count">1029</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-nav__footer">
                <div class="row">
                    <div class="col-4">
                        @@include('components/contact-info.html', {
                            "componentClass": "page-nav__footer-contact-info"
                        })
                    </div>
                    <div class="col-8">
                        @@include('components/subscribe-form.html', {
                            "componentClass": "page-nav__footer-subscribe-form",
                            "title": "МЫ ПОМОЖЕМ БЫСТРЕЕ НАЙТИ ТО,<br>ЧТО ВАМ НУЖНО!",
                            "placeholder": "Ваш телефон",
                            "type": "phone",
                            "buttonText": "ОТПРАВИТЬ"
                        })
                    </div>
                </div>
            </div>
        </div>
        <div class="page-nav__content page-nav__content_mobile"></div>
    </div>
</nav>
<header class="page-header">

</header>