<header class="page-header @@if (componentClass) {@@componentClass}">
    <div class="container">
        <div class="row page-header__row">
            <div class="page-header__logo">
                @@include('components/headerLogo.html')
            </div>
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item"><a class="page-header__nav-list-link" href="">О компании</a></li>
                    <li class="page-header__nav-list-item"><a class="page-header__nav-list-link" href="">Управление активами</a></li>
                    <li class="page-header__nav-list-item"><a class="page-header__nav-list-link" href="">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>