<header class="page-header @@if (componentClass) {@@componentClass}">
    <div class="container">
        <div class="row page-header__row">
            <div class="col-12 col-md-3 page-header__logo">
                @@include('components/headerLogo.html')
            </div>
            <nav class="col-auto page-header__nav">
                <ul class="page-header__list">
                    <li class="page-header__list-item">
                        <a class="page-header__list-link active" href="">О компании</a>
                    </li>
                    <li class="page-header__list-item">
                        <a class="page-header__list-link" href="">Управление активами</a>
                    </li>
                    <li class="page-header__list-item">
                        <a class="page-header__list-link" href="">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>