<div class="subscribe-form">
    <p class="subscribe-form__title">НАПИШИТЕ НАМ, И МЫ ВАМ <br>ПЕРЕЗВОНИМ! </p>
    <form class="form form-validate subscribe-form__form">
        <div class="subscribe-form__content">
            <div class="form__group">
                <input
                        placeholder="Ваше имя"
                        type="text"
                        class="form__control">
            </div>
            <div class="form__group">
                <input
                        placeholder="Ваш телефон"
                        type="phone"
                        class="form__control">
            </div>
            <div class="form__group">
                <input
                        placeholder="Ваше сообщение"
                        type="text"
                        class="form__control">
            </div>
            <div class="form__group">
                <label class="form-checkbox form-checkbox_brand">
                    <input type="checkbox" value="" class="agree-checkbox">
                    <div class="form-checkbox__indicator"></div>
                    <p class="form-checkbox__text">Я согласен с условиями передачи<br> информации</p>
                </label>
            </div>
        </div>
        <div class="form__group">
            <button type="submit" class="btn btn_border-brand-black">ОТПРАВИТЬ</button>
        </div>
    </form>
</div>