.download-item {
  @include defaultLink();
  @include changeFontSizeOnChangeLayout(10px, 12px);
  display: flex;
  align-items: center;
  text-transform: uppercase;

  &__icon {
    margin-right: 15px;
    font-size: 28px;
  }
}