.subscribe-form {
  &__title {
    font-size: 12px;
    font-weight: $semi;
  }
  &_center {
    text-align: center;
  }
  &_center &__content {
    @include media-breakpoint-up($global-layout-change) {
      display: flex;
      justify-content: center;
      .form__group {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
}