.page-product-content {
  &__header {
    display: none;
    @include media-breakpoint-up($global-layout-change) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      margin-top: 8px;
    }
    &-type {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: $semi;
      margin-bottom: 0;
    }
  }
  &__body {
    &-name {
      font-weight: $bold;
      margin-bottom: 10px;
      @include changeFontSizeOnChangeLayout(19px, 27px);
      &-square {
        display: block;
      }
      @include media-breakpoint-up($global-layout-change) {
        &-square {
          display: inline-block;
        }
      }
    }
    &-info {
      @include media-breakpoint-up($global-layout-change) {
        display: none;
      }
    }
    &-address {
      @include changeFontSizeOnChangeLayout(12px, 14px);
    }
  }
  &__description {
    @include changeFontSizeOnChangeLayout(10px, 14px);
    p {
      margin-bottom: 15px;
    }
  }
  &__plan {
    &-price {
      font-weight: $bold;
      font-size: 27px;
      margin-bottom: 25px;
      sub {
        bottom: auto;
      }
    }
    &-image {
      @include size(140, 80px);
      max-width: 100%;
      object-fit: cover;
      margin-bottom: 15px;
      @include media-breakpoint-up($global-layout-change) {
        height: 165px;
      }
    }

    &-title {
      font-size: 14px;
      font-weight: $semi;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
  }
}