.page-product-content {
  &__column {
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }
  &__header {
    display: none;
    @include media-breakpoint-up($global-layout-change) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      margin-top: 8px;
    }
    &-type {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: $semi;
      margin-bottom: 0;
    }
  }
  &__body {
    &-name {
      font-weight: $bold;
      margin-bottom: 10px;
      @include changeFontSizeOnChangeLayout(19px, 27px);
      &-square {
        display: block;
      }
      @include media-breakpoint-up($global-layout-change) {
        &-square {
          display: inline-block;
        }
      }
    }
    &-info {
      @include media-breakpoint-up($global-layout-change) {
        display: none;
      }
    }
    &-address {
      @include changeFontSizeOnChangeLayout(12px, 14px);
    }
  }
  &__description {
    @include changeFontSizeOnChangeLayout(10px, 14px);
    p {
      margin-bottom: 15px;
    }
  }
  &__list {
    @include resetList();
    @include margin-y(15px, 20px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-item {
      font-size: 12px;
      margin-bottom: 10px;
      &:not(:last-child) {
        margin-right: 15px;
      }
      @include media-breakpoint-up($global-layout-change) {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
  &__count {
    @include countItem();
  }
  &__checked {
    @include pos-r();

    &-text {
      display: inline-block;
      vertical-align: middle;
      padding-left: 25px;
      font-size: 12px;
      margin-bottom: 0;
      text-align: left;
      text-transform: uppercase;
    }

    &-indicator {
      @include pos-a(50%, null, null, 0);
      @include size(18px);
      @include transition();
      transform: translateY(-50%);
      border: 1px solid $gray-darkest;

      &:before {
        @include pos-a(-6px, null, null, 8px);
        @include transition();
        @include size(7px, 17px);
        content: "";
        border-color: $brand-color;
        border-style: solid;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg) scale(1);
      }
    }
  }
  &__plan {
    &-price {
      display: none;
      font-weight: $bold;
      font-size: 27px;
      margin-bottom: 25px;
      @include media-breakpoint-up($global-layout-change) {
        display: block;
      }
      sub {
        bottom: auto;
      }
    }
    &-image {
      @include size(140, 80px);
      max-width: 100%;
      object-fit: cover;
      margin-bottom: 15px;
      @include media-breakpoint-up($global-layout-change) {
        height: 165px;
      }
    }

    &-title {
      font-weight: $semi;
      text-transform: uppercase;
      margin-bottom: 25px;
      @include changeFontSizeOnChangeLayout(11px, 14px);
    }
  }
}