$arrow-offset: 15px;
$arrow-desktop-offset: 45px;

.page-product {
  &__title {
    font-weight: $bold;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 5px;
  }
  &__slider {
    img {
      object-fit: cover;
      height: 200px;
      @include media-breakpoint-up($global-layout-change) {
        height: 500px;
      }
    }
    .slick {
      &-arrow {
        @include pos-a(50%);
        transform: translateY(-50%);
        @include slickArrow();
        z-index: 1;
      }
      &-prev {
        left: $arrow-offset;
        @include media-breakpoint-up($global-layout-change) {
          left: $arrow-desktop-offset;
        }
      }
      &-next {
        right: $arrow-offset;
        @include media-breakpoint-up($global-layout-change) {
          right: $arrow-desktop-offset;
        }
      }
      &-dots {
        @include pos-a(null, null, 20px, 0);
        @include resetList();
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          &:not(:last-child) {
            margin-right: 30px;
          }
        }
        button {
          @include size(64px, 2px);
          @include transition();
          border: none;
          background-color: $white;
          outline: none;
          font-size: 0;
          border-radius: 4px;
          &:hover {
            background-color: $brand-color;
          }
        }
        .slick-active button {
          height: 4px;
          background-color: $brand-color;
        }
      }
    }
  }
}