$arrow-offset: 15px;
$arrow-desktop-offset: 45px;

.page-product {
  @include media-breakpoint-down($global-layout-change-down) {
    padding-top: 60px;
  }
  &__return {
    @include media-breakpoint-up($global-layout-change) {
      margin-bottom: 0;
    }
  }
  &__title {
    text-align: center;
    font-weight: $bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include changeFontSizeOnChangeLayout(12px, 15px);
    @include media-breakpoint-down($global-layout-change-down) {
      max-width: 60%;
      @include margin-x(auto);
    }
    @include media-breakpoint-up($global-layout-change) {
      margin-bottom: 5px;
    }
  }
  &__favorite {
    @include productFavorite();
  }
}