@mixin border-btn($border-color, $text-color) {
  border: 2px solid $border-color;
  border-radius: 30px;
  color: $text-color;
}

.btn {
  @include reset-button();
  text-align: center;
  font-family: $font-family;
  font-size: 12px;
  font-weight: $semi;
  transition: all 0.2s ease-in-out;
  padding: 10px 30px;

  &_border {
    &-brand-white {
      @include border-btn($brand-color, $white);
    }
    &-brand-black {
      @include border-btn($brand-color, $black);
    }
  }

  &:hover {
    box-shadow: none;
  }
  
  &:active {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  &:active,
  &:focus,
  &:hover {
    text-decoration: none !important;
    outline: none !important;
  }
}