[contenteditable] {
	outline: none !important;
}

.form__group {
	margin-bottom: 15px;
}

.form__control {
	display: block;
	padding: 10px 15px;
	outline: none !important;
	-webkit-appearance: none;
	overflow: hidden;
	color: $black;
	font-size: 12px;
	font-family: $font-family;
	font-weight: $regular;
	border: none;
	border-bottom: 1px solid $black;
	width: 100%;
	background: none;

	// Unstyle the caret on `<select>`s in IE10+.
	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $input-color;
	}

	@include placeholder() {
		color: $brand-color;
		// Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
		opacity: 1;
		@include transition();
	}

	&:focus {
		@include placeholder() {
			opacity: 0;
		}
	}
}

.form-checkbox {
	@include pos-r();
	user-select: none;
	cursor: pointer;

	&__text {
		display: inline-block;
		vertical-align: middle;
		padding-left: 25px;
		font-size: 10px;
		margin-bottom: 0;
	}

	&__indicator {
		@include pos-a(50%, null, null, 0);
		@include size(15px);
		@include transition();
		transform: translateY(-50%);

		&:before {
			@include pos-a(50%, null, null, 50%);
			@include transition();
			content: "";
			transform: scale(0);
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		visibility: hidden;
	}

	input[type="radio"] + &__indicator {
		border: 1px solid $gray-dark;
		border-radius: 100%;

		&:before {
			@include size(50%);

			margin-top: -25%;
			margin-left: -25%;
			border-radius: 100%;
		}
	}

	input[type="radio"]:checked + &__indicator {
		&:before {
			transform: scale(1);
		}
	}

	input[type="checkbox"] + &__indicator {
		border: 1px solid $gray-dark;

		&:before {
			@include size(7px, 17px);
			top: -8px;
			left: 8px;
			border-style: solid;
			border-width: 0 3px 3px 0;
			transform: rotate(0deg) scale(0);
		}
	}

	input[type="checkbox"]:checked + &__indicator {
		&:before {
			transform: rotate(45deg) scale(1);
		}
	}

	&_brand input[type="radio"] + &__indicator {
		&:before {
			background-color: $brand-color;
		}
	}

	&_brand input[type="checkbox"] + &__indicator {
		&:before {
			border-color: $brand-color;
		}
	}
}

select.form-control {
	&:focus::-ms-value {
		// Suppress the nested default white text on blue background highlight given to
		// the selected option text when the (still closed) <select> receives focus
		// in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
		// match the appearance of the native widget.
		// See https://github.com/twbs/bootstrap/issues/19398.
		color: $input-color;
		background-color: $input-bg;
	}

	// Styles for "pseudo" placeholder when select is not selected
	&:not(.not-empty) {
		color: #BCBFC7;
		font-weight: 400;
	}
}

@mixin loader-anim {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzgiIGhlaWdodD0iMzgiIHZpZXdCb3g9IjAgMCAzOCAzOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHJva2U9IiMyN2FlNjEiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSIgc3Ryb2tlLXdpZHRoPSIyIj48Y2lyY2xlIHN0cm9rZS1vcGFjaXR5PSIuNSIgY3g9IjE4IiBjeT0iMTgiIHI9IjE4IiAvPjxwYXRoIGQ9Ik0zNiAxOGMwLTkuOTQtOC4wNi0xOC0xOC0xOCI+PGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTggMTgiIHRvPSIzNjAgMTggMTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPiA8L3BhdGg+PC9nPjwvZz48L3N2Zz4=);
}

form.loading {
	position: relative;
	
	&:before {
		content: "";
		display: block;
		
		width: 100%;
		height: 100%;
		
		background-color: rgba(255,255,255,0.6);
		
		background-repeat: no-repeat;
		background-size: 50px auto;
		background-position: center center;
		
		@include loader-anim;
		
		position: absolute;
		top: 0;
		left: 0;
		
		z-index: 50;
	}
}


input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

// Form grid
//
// Special replacement for our grid system's `.row` for tighter form layouts.
.form-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$form-grid-gutter-width;
	margin-left: -$form-grid-gutter-width;
	> .col,
	> [class*="col-"] {
		padding-right: $form-grid-gutter-width;
		padding-left: $form-grid-gutter-width;
	}
}

input::-ms-clear {
    display: none;
}

input::-ms-clear {  display: none; width : 0; height: 0; }
input::-ms-reveal {  display: none; width : 0; height: 0; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

