$font-family: 'Montserrat', sans-serif;

$global-layout-change: md;
$browser-scrollbar-width: 17px;

$brand-color: #2EBCE9;
$white: #fff;
$gray: #F5F5F5;
$gray-dark: #ABABAB;
$black: #000;

$regular: 400;
$semi: 600;
$bold: 700;

$navigation-mobile-height: 42px;
$navigation-width: 64px;