$font-family: 'Avenir Next', sans-serif;
$block-border-radius: 40px;

$browser-scrollbar-width: 17px;

$brand-color: #2EBCE9;
$white: #fff;
$black: #000;

$navigation-mobile-height: 42px;
$navigation-width: 64px;