$hamburger-line-width: 12px;
$hamburger-line-desktop-width: 22px;
$hamburger-line-height: 3px;
$hamburger-line-radius: 3px;

@mixin hamburger-format() {
  display: inline-block;
  vertical-align: middle;
}

@mixin hamburger-transition() {
  @include transition(all, 0.25s, ease-in-out);
}

.page-nav {
  &__hamburger {
    @include pos-r();
    @include hamburger-format();
    @include hamburger-transition();
    @include size(26px);
    padding: 0;
    border: none;
    outline: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    z-index: 100;
    background-color: $black;
    overflow: hidden;
    border-radius: 100%;

    @include media-breakpoint-up($global-layout-change) {
      @include size(45px);
      margin-bottom: 15px;
    }

    &.active,
    &:hover {
      background-color: $brand-color;
    }

    span {
      display: block;
      @include pos-a(null, null, null, null);
      @include size(12px, 2px);
      background-color: $white;
      border-radius: $hamburger-line-radius;
      @include hamburger-transition();
      @include media-breakpoint-up($global-layout-change) {
        @include size(22px, 3px);
      }
    }

    @include hamburger-effect();
  }
}