.page-nav {
  $root: &;

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &_vertical {
      flex-direction: row;
    }
  }

  &__link {
    @include circleLink();
  }

  &__panel {
    @include pos-f(0, null, null, 0);
    @include size(100%, $navigation-mobile-height);
    background-color: $white;
    z-index: 110;

    @include media-breakpoint-up($global-layout-change) {
      @include size($navigation-width, 100%);
      padding: 25px 0 50px 0;
    }
    &_desktop {
      display: none;
      @include media-breakpoint-up($global-layout-change) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
      }
    }
    &_mobile {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      @include pad-x(15px);
      @include media-breakpoint-up($global-layout-change) {
        display: none;
      }
    }
  }

  &__panel_desktop & {
    &__link {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__content {
    &_desktop {
      display: none;
      @include media-breakpoint-up($global-layout-change) {
        display: flex;
      }
    }
    &_mobile {
      display: block;
      padding-top: 55px;
      text-align: center;
      .contact-info {
        margin-bottom: 45px;
      }
      @include media-breakpoint-up($global-layout-change) {
        display: none;
      }
    }
  }
}