.page-nav__footer {
  padding: 15px 30px 30px 30px;
  &-contact-info {
    display: flex;
    .contact-info {
      &__title {
        margin-right: 40px;
      }
    }
  }
  &-subscribe-form {
    display: flex;
    .subscribe-form {
      &__content,
      &__title {
        margin-right: 45px;
      }
      &__form {
        display: flex;
      }
    }
  }
}