.page-nav {
  $root: &;

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    @include size($nav-icon-width, $nav-icon-height);
    @include transition();
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 100%;
    text-decoration: none;
    color: $black;
    font-size: 18px;

    &:hover,
    &:active {
      text-decoration: none;
      color: $brand-color;
    }
  }

  &__panel {
    @include pos-f(0, null, null, 0);
    @include size(100%, $navigation-mobile-height);
    background-color: $white;
    z-index: 110;

    @include media-breakpoint-up($global-layout-change) {
      @include size($navigation-width, 100%);
      padding: 25px 0 50px 0;
    }
    &_desktop {
      display: none;
      @include media-breakpoint-up($global-layout-change) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
      }
    }
    &_mobile {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      @include media-breakpoint-up($global-layout-change) {
        display: none;
      }
    }
  }

  &__panel & {
    &__link {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}