.page-nav {
  $root: &;

  &__body {
    @include pos-a(0, null, null, 0);
    @include size(100%, 100%);
    @include transition();
    background-color: $white;
    transform: translateY(-100%);
    z-index: 100;
    overflow-y: auto;
    @include media-breakpoint-up($nav-media-change) {
      transform: translateX(-100%);
      padding-left: $navigation-width;
    }
    #{$root}.active & {
      transform: none;
    }
    &-content {
      padding: 15px;
      @include media-breakpoint-up($nav-media-change) {
        padding: 30px;
      }
      &-header {
        text-align: center;
        margin-bottom: 45px;
        &-title {
          font-weight: $semi;
          font-size: 17px;
          text-transform: uppercase;
        }
      }
      &-list {
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        &-row {
          justify-content: center;
        }
        &-wrapper {
          &:not(:last-child) {
            margin-bottom: 25px;
          }
        }
        &-title {
          text-align: center;
          margin-bottom: 10px;
          text-transform: uppercase;
          font-size: 12px;
          min-height: 14px;
        }
        &-item {
          font-size: 12px;
          margin-bottom: 30px;
          @include media-breakpoint-up(xlg) {
            font-size: 16px;
          }
          &-image {
            display: block;
            @include size(110px, 60px);
            object-fit: cover;
            margin-bottom: 10px;
          }
          &-title {
            margin-bottom: 5px;
            text-transform: uppercase;
          }
          &-count {
            font-weight: $bold;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}