.page-nav {
  $root: &;

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    @include size($nav-icon-width, $nav-icon-height);
    @include transition();
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 100%;
    text-decoration: none;
    color: $black;
    font-size: 18px;

    &:hover,
    &:active {
      text-decoration: none;
      color: $brand-color;
    }
  }

  &__panel {
    @include pos-f(0, null, null, 0);
    @include size(100%, $navigation-mobile-height);
    background-color: $white;
    z-index: 110;

    @include media-breakpoint-up($nav-media-change) {
      @include size($navigation-width, 100%);
      padding: 25px 0 50px 0;
    }
    &_desktop {
      display: none;
      @include media-breakpoint-up($nav-media-change) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
      }
    }
    &_mobile {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      @include media-breakpoint-up($nav-media-change) {
        display: none;
      }
    }
  }

  &__panel & {
    &__link {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__body {
    @include pos-a(0, null, null, 0);
    @include size(100%, 100%);
    @include transition();
    background-color: $white;
    transform: translateY(-100%);
    z-index: 100;
    overflow-y: auto;
    @include media-breakpoint-up($nav-media-change) {
      transform: translateX(-100%);
      padding-left: $navigation-width;
    }
    #{$root}.active & {
      transform: none;
    }
    &-content {
      padding: 15px;
      @include media-breakpoint-up($nav-media-change) {
        padding: 30px;
      }
      &-header {
        text-align: center;
        margin-bottom: 45px;
        &-title {
          font-weight: $semi;
          font-size: 17px;
          text-transform: uppercase;
        }
      }
      &-list {
        justify-content: center;
        &-item {
          font-size: 12px;
          @include media-breakpoint-up(xlg) {
            font-size: 16px;
          }
          &-image {
            display: block;
            @include size(110px, 60px);
            object-fit: cover;
            margin-bottom: 10px;
          }
          &-title {
            margin-bottom: 10px;
            text-transform: uppercase;
          }
          &-count {
            font-weight: $bold;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__links {
    padding: 10px 0 10px 0;
    margin-bottom: 0;
    background-color: $gray;
    text-align: center;
    li {
      @include pos-r();
      display: inline-block;
      vertical-align: middle;
      padding-top: 10px;
      padding-bottom: 10px;
      &:not(:last-child) {
        margin-right: 30px;
        padding-right: 30px;
        &:before {
          content: '';
          @include pos-a(0, 0);
          @include size(2px, 100%);
          background-color: $black;
        }
      }
    }
    a {
      @include linkEffect(14px);
      font-weight: $semi;
    }
  }
}